@import 'scss/variables.scss';
@import 'scss/mixins.scss';
@import '_bootstrap.scss';

.block {

}
// margins & sizes
.m-sm {
	margin-bottom: 20px;
}
.m-md {
	margin-bottom: 40px;
}
.w40 {
	width: 40px;
}
.w450 {
	display: inline-block;
	width: 49%;
	float: left;
}
// buttons
.btn, .label {
	text-transform: uppercase;
	.text-small {
		font-size: 0.7em;
	}
}

.btn-static-width {
	width: 140px;
}

.btn-group-vertical {
	.btn {
		margin-bottom: 0;
	}
}

// labels
.label {
  display: inline;
  padding: .4em .6em .5em;
 }
.label-default {
	color: black;
	border: solid 1px black;
}

//badges 
.badge {
	border-radius: 25px;
}
//tooltips
.tooltip {
	opacity: 1;
	position: relative;
	display: inline-block;
}
//dropdowns
.dropdown-menu {
	display: block;
	position: relative;
	li a:hover {
		background-color: #656d78;
		color: white;
	}
	li {
		position: relative;
		.dropdown-menu {
			position: absolute;
			top: 0;
			left: 100%;
		}
	}
	.divider {
	background-color: #656d78;
}
}
.dropdown-inverse {
	background-color: $color-dark;
	li a {
		color: white;
	}
}

//popovers
.popover {
	position: relative;
	display: inline-block;
	width: 230px;
	margin-right: 20px;
	color: white;
	.popover-title {
		color: #aab2bd;
		border-bottom: none;
		background-color: $color-dark;
	}
}